<header class="d-flex mb-3 justify-content-between">
  <h2>Manager Product</h2>
   <button type="button" class="btn btn-primary" (click)="addProduct()" >Add product</button>
</header>
<form>
    <div class="form-group">
        <label for="">ID</label>
        <input type="number" class="form-control" name="id"[(ngModel)]="product.id">
    </div>
    <div class="form-group">
        <label for="">Product Name</label>
        <input type="text" class="form-control" name="name" [(ngModel)]="product.name" >
    </div>
   
    <div class="form-group">
      
        <label for="Price">Price</label>
     <input type="number" class="form-control" name="price" id="Price"  [(ngModel)]="product.price">
    </div>
    <div class="form-group">
        <label for="">Desc</label>
        <input type="text" class="form-control" name="desc" [(ngModel)]="product.desc">
    </div>

 
</form>

<div class="SumProduct" style="padding-top:45px">
	<h2>Product</h2>
	<table class="table table-bordered table-hover" id="mau1">
		<thead>
			<tr>
				<th>Stt</th>
				<th>Name</th>
				<th>Price</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody *ngFor="let product of products,index as  i">
			<tr>
				<td>{{i}}</td>
				<td>{{product.name}}</td>
				<td>${{product.price}}</td>
        <td>{{product.desc}}</td>
				<td style="text-align:center;">
					<div class="btn-group">
						<button class="btn btn-primary" (click)="hienthichitiet(product)">Chi tiết</button>
						<button class="btn btn-primary" (click)="xoa(product.id)">Xóa</button>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	<!-- <div class="deltail" *ngIf="selected">
		<h3>Detail</h3>
		<table class="table table-bordered table-hover" id="mau2">
			<thead>
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Price</th>
					<th>Desc</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>{{selected.id}}</td>
					<td>{{selected.name}}</td>
					<td>${{selected.price}}</td>
					<td>{{selected.desc}}</td>
				</tr>
			</tbody>
		</table>
	</div> -->
</div>